name: Test
on:
  pull_request:
  push:

env:
  SCALA211: 2.11.12
  SCALA212: 2.12.15
  SCALA213: 2.13.8
  SCALA3: 3.0.2
  # define Java options for both official sbt and sbt-extras
  JAVA_OPTS: -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
  JVM_OPTS:  -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            java: 8
            jobtype: 1
          - os: ubuntu-latest
            java: 8
            jobtype: 2
          - os: ubuntu-latest
            java: 11
            jobtype: 1
          - os: ubuntu-latest
            java: 17
            jobtype: 1
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup
      uses: actions/setup-java@v2
      with:
        distribution: temurin
        java-version: ${{matrix.java}}
    - name: Coursier cache
      uses: coursier/cache-action@v6
    - name: Build and test
      shell: bash
      run: |
        case ${{ matrix.jobtype }} in
          1)
            sbt -v ++$SCALA211! verifyJVM/test ++$SCALA212! verifyJVM/test ++$SCALA213! verifyJVM/test ++$SCALA3! verifyJVM/test
            sbt +verifyJS/test
            ;;
          2)
            sudo apt-get update
            sudo apt install clang libunwind-dev libgc-dev libre2-dev
            sbt +verifyNative/clean +verifyNative/test
            ;;
          *)
            echo unknown jobtype
            exit 1
        esac
